# ao record template for register outputs
record(ao, "$(X)$(Y)") {
    field(DTYP	,"asynFloat64")
    field(OUT	,"@asyn($(PORT) $(OFFSET))$(DATA_TYPE)")
    field(HOPR	,"$(HOPR=0)")
    field(LOPR	,"$(LOPR=0)")
    field(PREC	,"$(PREC=0)")
	field(EGU	,"$(EGU=0)")
	field(DESC	,"$(DESC=0)")
}

